@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  line-height: 1.25;
  text-align: center;
  color: #242424;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
}

.span__features {
  color: #007ba7;
  font-weight: 700;
  font-size: 28px;
}

.click {
  cursor: pointer;
}

.span__features--para {
  font-size: 16px;
  color: #007ba7;
  font-weight: 700;
}

section:nth-child(even) {
  background-color: #f8f8f8;
}

.section__heading {
  padding: 60px 30px 30px;
}

/* section landing */

#landing {
  position: relative;
  visibility: visible;
}

/* navigation bar */

nav {
  height: 100px;
  margin: 0 auto;
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 400ms ease;
}

.navbar__closed {
  visibility: hidden;
  opacity: 0;
}

.nav__span {
  margin-left: 20px;
}

nav,
.aboutme {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto -30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutme__description {
  visibility: visible;
  opacity: 1;
  transition: all 400ms ease;
}

.aboutme__display {
  visibility: visible;
  opacity: 1;
  transition: all 400ms ease;
}

.aboutme__closed {
  opacity: 0;
  visibility: hidden;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list--item {
  margin-right: 20px;
  list-style: none;
  text-decoration-line: none;
  font-weight: bold;
}

.nav__link {
  color: black;
}

.nav__list--button {
  background-color: #007ba7;
  width: 100px;
  padding: 10px;
  color: white;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 200ms;
}

.nav__links::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -4px;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.nav__links:hover::after {
  width: 100%;
  left: 0;
}

.nav__list--button:hover {
  background-color: rgb(33, 94, 225);
}

.white {
  color: #fff;
}

.contrast {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 450ms ease;
}

.contrast:hover {
  transform: scale(1.2);
}

.contrast:active {
  transform: scale(0.9);
}

/* About me */

.heading {
  margin-bottom: 15px;
  font-size: 28px;
  animation: fade_in 1000ms 600ms backwards;
}

.subheading {
  margin-bottom: 15px;
  width: 100%;
  max-width: 500px;
  animation: fade_in 1000ms 800ms backwards;
}

.aboutme {
  height: calc(95vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.aboutme__photo {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

.aboutme--picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  animation: zoom-in-picture 1000ms 200ms backwards;
}

@keyframes zoom-in-picture {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.aboutme__description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wiggle {
  display: inline-block;
  font-size: 28px;
  animation: wiggle 1s infinite ease-in-out;
}

.logos {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  animation: fade_in 1000ms 1000ms backwards;
}

@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}

.logos--icon {
  list-style-type: none;
  padding-top: 5px;
}

.logos--image {
  width: 25px;
  transition: all 300ms ease;
}

.logos--image:hover {
  transform: scale(1.2);
}

.logos--image:active {
  transform: scale(0.9);
}

.aboutme__display {
  width: 45%;
}

.aboutme__display--picture {
  width: 100%;
  padding-bottom: 10px;
  animation: fade-in 1000ms 1900ms backwards ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact__wrapper {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 25px 80px rgba(1, 1, 1, 0.7);
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 1000ms 500ms ease;
}

.contact__wrapper--open {
  z-index: 3;
  opacity: 1;
}

.contact__lefthalf,
.contact__righthalf {
  width: 100%;
  padding: 80px 50px;
  transition: all 450ms 600ms ease;
}

.contact__lefthalf {
  background-color: white;
  border: none;
  transform: translateX(-150%);
}

.contact__wrapper--open .contact__lefthalf,
.contact__wrapper--open .contact__righthalf {
  transform: translateX(0%);
}

.contact__righthalf {
  background-color: black;
  position: relative;
  transform: translateX(150%);
}

.contact__lefthalf--title {
  font-size: 32px;
  text-align: left;
}

.contact__lefthalf--subtitle {
  font-size: 14px;
  text-align: left;
  margin: 5px 0px 20px;
}

.contact__lefthalf--para {
  font-size: 16px;
  text-align: left;
  line-height: 1.75;
  padding: 0;
}

.contact__righthalf--title {
  font-size: 32px;
  text-align: left;
  color: white;
}

.contact__righthalf--subtitle {
  font-size: 14px;
  text-align: left;
  margin: 10px 0px 25px;
  color: white;
}

.form__item {
  margin-bottom: 30px;
}

label {
  color: white;
}

input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  margin-top: 10px;
  border-bottom: 2px solid white;
  transition: all 300ms ease;
}

input:focus,
textarea:focus {
  border-color: #007ba7;
  border-bottom: 2px solid #007ba7;
}

textarea {
  resize: vertical;
  margin-top: 5px;
}

.form__button {
  padding: 10px 20px;
  width: 60%;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 700;
  color: white;
  background-color: #007ba7;
  cursor: pointer;
  transition: all 300ms ease;
}

.form__button:hover {
  border: 1px solid white;
  background-color: transparent;
}

.form__button:active {
  border: 1px solid #007ba7;
  color: #007ba7;
}

.form__close {
  filter: invert(1);
  width: 30px;
  font-weight: 700;
  position: absolute;
  content: "";
  top: 5%;
  cursor: pointer;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 100;
  transition: all 300ms ease;
}

.form__close:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.form__close:active {
  transform: translate(-50%, -50%) scale(0.8);
}

.form__loading--div {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.form__loading {
  width: 50px;
  filter: invert(1);
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 2000ms infinite linear;
}

.visible {
  display: flex;
  z-index: 2;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.form__success {
  color: white;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(31, 161, 31);
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 50px;
  font-size: 36px;
  z-index: -1;
}

.visible1 {
  display: flex;
  z-index: 3;
}

.highlight__color {
  color: #007ba7;
  font-weight: 700;
}

.contact__btn {
  position: fixed;
  bottom: 10px;
  right: 15px;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 15px;
  background-color: white;
  filter: invert(1);
  cursor: pointer;
  z-index: 2;
  border: invert(0);
  border: 2px solid black;
  transition: all 450ms ease;
}

.contact__btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.contact__btn:active {
  transform: translate(-50%, -50%) scale(0.9);
}

.envelope {
  width: 30px;
}

/* Languages */

#languages {
  margin-top: 5%;
  padding-bottom: 30px;
}

.language__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.language__lang {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}

.span__language {
  transform: scale(0);
  padding: 10px;
  font-weight: bold;
  transition: all 300ms ease-in-out;
}

.language__icon {
  width: 40%;
  margin: 0 auto;
  transition: all 300ms;
}

.language__icon:hover {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language__icon:hover + .span__language {
  transform: scale(1);
}

/* Projects */

.projects__details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.project__details--wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.project__image--wrapper {
  width: 60%;
  display: flex;
  margin-bottom: 80px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 500ms ease;
}

.project__content {
  border-radius: 20px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: all 300ms ease;
  overflow: hidden;
}

.project__image--wrapper:hover .project__content {
  z-index: 0;
  background-color: #000;
  opacity: 0.8;
  visibility: visible;
}

.project__image--wrapper:hover .project__image {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(1.2);
}

.project__image {
  display: flex;
  width: 100%;
  border-radius: 20px;
  transition: all 300ms ease;
}

.project__heading--title {
  color: #fff;
  margin-bottom: 5px;
  font-size: 28px;
  padding: 40px 40px 5px 40px;
  text-align: left;
}

.project__heading--subtitle {
  color: #fff;
  margin-bottom: 5px;
  font-size: 20px;
  padding: 0px 40px 15px 40px;
}

.project__para {
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 0px 40px 15px 40px;
  text-align: justify;
  line-height: 1.75;
  opacity: 1;
}

.project__link {
  list-style: none;
  padding: 0px 40px 10px 40px;
  opacity: 1;
}

.projects__links {
  filter: invert(1);
  padding: 5px 10px 0px 0px;
  width: 35px;
}

/* Footer */


.footer__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  padding: 40px;
  position: relative;
  z-index: 1;
}

.footer__logo {
  width: 100%;
  position: relative;
}

.footer__logo--wrapper {
  width: 75px;
  margin-bottom: 30px;
}

.footer__links {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.footer__anchor {
  color: white;
}

.footer__link::after {
  content: "";
  height: 3px;
  position: absolute;
  background-color: white;
  bottom: -3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.footer__link:hover::after {
  width: 100%;
  left: 0;
}

.footer__para {
  color: white;
}

.footer__logo {
  font-size: 18px;
  color: white;
  z-index: 2;
}

.footer__logo--animation {
  position: absolute;
  width: 45px;
  align-items: center;
  padding-top: 6px;
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 300ms ease, transform 600ms ease;
}

.footer__logo:hover + .footer__logo--animation {
  opacity: 1;
  transform: translateX(5px);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg); /* Default position */
  }

  50% {
    transform: rotate(45deg); /* Rotate slightly left */
  }
}


/* Background-shapes */

.shapes {
  position: fixed;
  width: 15px;
  opacity: 0.7;
}

.shape-0,
.shape-3,
.shape-6 {
  left: 16%;
}

.shape-2,
.shape-5,
.shape-8 {
  left: 83%;
}

.shape-0,
.shape-2 {
  top: 20%;
}

.shape-3,
.shape-5 {
  top: 55%;
}

.shape-6,
.shape-8 {
  top: 80%;
}

.shape-1,
.shape-4,
.shape-7 {
  visibility: hidden;
}


/* dark theme */

.dark-theme .nav__link,
.dark-theme .heading,
.dark-theme .section__heading,
.dark-theme .subheading {
  color: white;
}

.dark-theme .logos--image,
.dark-theme .contrast,
.dark-theme .envelope {
  filter: invert(1);
}

.dark-theme section {
  background-color: #242424;
}

.dark-theme {
  background-color: #242424;
}

.dark-theme .contact__btn {
  background-color: black;
}

.dark-theme .nav__links::after {
  background-color: white;
}

.dark-theme .aboutme--picture,
.dark-theme .contact__wrapper {
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
}

.dark-theme .span__language {
  color: white;
}

.dark-theme #languages {
  background-color: rgb(54, 53, 53);
}

.dark-theme .project__image--wrapper {
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.3);
}


/* Responsiveness */
/* For Tablets, Big phones, etc */

@media (max-width: 768px) {
  .heading {
    font-size: 24px;
  }

  .span__features {
    font-size: 24px;
  }

  .aboutme__display {
    width: 50%;
  }

  .language__container {
    max-width: 650px;
  }

  .project__heading--title {
    font-size: 24px;
  }

  .project__heading--subtitle {
    font-size: 16px;
  }

  .project__para {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .project__link {
    margin-left: 0px;
  }

  .projects__links {
    width: 25px;
    padding: 0px 5px 0px 0px;
  }

  .shapes {
    position: fixed;
    width: 12px;
    opacity: 0.7;
  }
  
  .shape-0,
  .shape-3,
  .shape-6 {
    left: 8%;
  }
  
  .shape-2,
  .shape-5,
  .shape-8 {
    left: 90%;
  }
  
  .shape-0,
  .shape-2 {
    top: 15%;
  }
  
  .shape-3,
  .shape-5 {
    top: 45%;
  }
  
  .shape-6,
  .shape-8 {
    top: 75%;
  }
  
  .shape-1,
  .shape-4,
  .shape-7 {
    visibility: hidden;
  }

  .contact__btn {
    bottom: -10px;
    right: -5px;
    padding: 12px;
  }

  .envelope {
    width: 20px;
  }

  .contact__lefthalf--para {
    font-size: 14px;
  }

  .form__button {
    width: 100%;
  }

  .contact__lefthalf {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact__righthalf {
    padding-top: 40px;
    padding-bottom: 50px;
  }



  .contact__wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
  }

  .contact__lefthalf--title, 
  .contact__righthalf--title {
    font-size: 24px;
  }
}

/* For Small phones */

@media (max-width: 480px) {
  .span__features {
    font-size: 20px;
  }

  .nav__list--item:not(:last-child) {
    display: none;
  }

  .heading {
    font-size: 20px;
  }

  .subheading {
    max-width: 350px;
  }

  .logos {
    max-width: 250px;
  }

  .aboutme__display {
    width: 70%;
  }

  .section__heading {
    font-size: 20px;
  }

  .language__container {
    max-width: 400px;
  }

  .span__language {
    font-size: 12px;
  }

  .project__heading--title {
    font-size: 15px;
    padding: 0px 20px 0px 25px;
    margin-top: -10px;
  }

  .project__heading--subtitle {
    font-size: 12px;
    padding: 0px 20px 5px 25px;
  }

  .project__para {
    font-size: 8px;
    padding: 0px 25px 5px 25px;
  }

  .project__link {
    margin-left: -18px;
  }

  .projects__links {
    width: 20px;
    padding: 0px 5px 0px 0px;
  }

  .footer__logo--wrapper {
    width: 100%;
    max-width: 140px;
    padding: 0px 40px 15px 40px;
    margin-bottom: 10px;
  }

  .footer__links {
    max-width: 300px;
  }

  .footer__para {
    font-size: 15px;
  }

  .footer__logo--animation {
    width: 30px;
    padding-top: 8px;
    transform: translateX(-40px);
  }

  .contact__btn {
    bottom: -8px;
    right: -5px;
    padding: 10px;
  }

  .envelope {
    width: 18px;
  }

  .project__heading--title, 
  .project__heading--subtitle {
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    left: 0;
  }

  .project__heading--title {
    height: 50%;
    padding-bottom: 10px;
    align-items: end;
  }

  .project__para {
    display: none;
  }

  .contact__righthalf--subtitle,
  .contact__lefthalf--subtitle {
    font-size: 12px;
    width: 100%;
  }

  .contact__righthalf,
  .contact__lefthalf {
    padding: 45px 30px;
  }

  .contact__lefthalf {
    padding: 30px 30px;
  }

  .contact__lefthalf--title,
  .contact__righthalf--title {
    font-size: 20px;
  }

  label {
    font-size: 14px;
  }

  input {
    margin-top: 5px;
  }

  .form__close {
    top: 6%;
  }

  .project__link {
    display: none;
  }


}

