@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    line-height: 1.25;
    text-align: center;
    color: #242424;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.span__features {
    color: #007ba7;
    font-weight: 700;
    font-size: 28px;
}

.span__features--para {
    font-size: 16px;
    color: #007ba7;
    font-weight: 700;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__heading {
    padding: 30px;
}


/* navigation bar */

nav {
    height: 100px;
    margin: 0 auto;
}

.nav__span {
    margin-left: 20px;
}

nav, .aboutme {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list--item {
    margin-right: 20px;
    list-style: none;
    text-decoration-line: none;
    font-weight: bold;
}


.nav__list--effect {
    border-bottom: 3px solid black;
}

.nav__list--button {
    background-color: #007ba7;
    width: 100px;
    padding: 10px;
    color: white;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 200ms;
}


.nav__links {

}

.nav__list--button:hover {
    background-color: rgb(33, 94, 225);
}

.white {
    color: #fff;
}




.heading {
    margin-bottom: 15px;
    font-size: 28px;
    animation:  fade_in 1000ms 600ms backwards;
}


.subheading {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    animation: fade_in 1000ms 800ms backwards;
}


.aboutme {
    height: calc(95vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.aboutme__photo {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
}

.aboutme--picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.7);
    animation: zoom-in-picture 1000ms 200ms backwards;
}

@keyframes zoom-in-picture {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.aboutme__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wiggle {
    display: inline-block;
    font-size: 28px;
    animation: wiggle 1s infinite ease-in-out;
}

.logos {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    animation: fade_in 1000ms 1000ms backwards;
    
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0px);
    }
}

.logos--icon {
    list-style-type: none;
    padding-top: 5px;
}

.logos--image {
    width: 25px;
}


.aboutme__display {
    width: 40%;
}

.aboutme__display--picture {
    width: 100%;
    padding-bottom: 10px;
    animation: fade-in 1000ms 1900ms backwards ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.language__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.language__lang {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.span__language {
    transform: scale(0);
    padding: 10px;
    font-weight: bold;
    transition: all 300ms ease-in-out; 
}

.language__icon {
    width: 40%;
    margin: 0 auto;
    transition: all 300ms;
}

.language__icon:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language__icon:hover  + .span__language {
    transform: scale(1);
} 

.projects__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.project__image--wrapper {
    width: 60%;
    display: flex;
    margin-bottom: 80px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
    border-radius: 22px;
    overflow: hidden;
    position: relative;

}

.project__image--wrapper::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0; 
}

.project__image:hover .project__image--wrapper::before {
   opacity: 1;
}

.project__image {
    display: flex;
    width: 100%;
    border-radius: 20px;
}


.footer__details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: black;
    padding: 40px;
}

.footer__logo{ 
    width: 100%;
}

.footer__logo--wrapper {
    width: 75px;
    margin-bottom: 30px;
}

.footer__links {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    
}


.footer__link {
    color: white;  
    border-bottom: 3px solid white; 
}

.footer__link:hover .footer__link{
    animation: slide 3000ms ease;
}

@keyframes slide {
    0% {
        opacity: 1;
        transform: translateX(-1000px);
        border-bottom: 3px solid white;
    }

    100% {
        opacity: 1;
        transform: translateX( 140px);
        border-bottom: 3px solid white;
    }
}

.footer__para {
    color: white;
}

.footer__logo {
    font-size: 18px;
    color: white;
}



@keyframes wiggle {
    0%  {
      transform: rotate(0deg); /* Default position */
    }
    
    50% {
      transform: rotate(45deg); /* Rotate slightly left */
    }
    
  }



/* 
responsiveness 
*/

@media (max-width: 768px) {

    .heading {
        font-size: 24px;
    }

    .span__features {
        font-size: 24px;
    }

    .aboutme__display {
        width: 50%;
    }

    .language__container {
        max-width: 650px;
    }
    


}

@media (max-width: 480px) {
    
    .span__features {
        font-size: 20px;
    }

    .nav__list--item:not(:last-child) {
        display: none;
    }

    .heading {
        font-size: 20px;
    }

    .subheading {
        max-width: 350px;
    }

    .logos {
        max-width: 250px;
    }

    .aboutme__display {
        width: 70%;
    }

    .section__heading {
        font-size: 20px;
    }

    .language__container {
        max-width: 400px;
    }

    .span__language {
        font-size: 12px;
    }

    .footer__logo--wrapper {
        max-width: 60px;
    }

    .footer__links {
        max-width: 300px;
    }

    .footer__para {
        font-size: 15px;
    }

}

